html {
    background: rgb(114, 68, 16);
    min-width: 1000px;
}

header {
    text-align: center;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(160, 85, 0);
    margin-right: 35%;
    margin-left: 35%;
    top:100px;
}

a {
    font-family: 'Slackey', cursive;
}

.Title {
    font-family: 'Slackey', cursive;
    text-align: center;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(160, 85, 0);
    margin-right: 35%;
    margin-left: 35%;
    top:100px;
}

.Title2 {
    font-family: 'Slackey', cursive;
    position: absolute;
    border: rgb(0, 0, 0) solid 5px;
    border-radius: 10px;
    background-color: rgb(160, 85, 0);
    margin-right: 35%;
    margin-left: 35%;
    top:430px;
}

.InformationInfo {
    position: absolute;
    left: 200px;
    top: 550px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    font-size: 20px;
    border: black solid 5px;
    background-color: rgb(160, 85, 0);
}

.InformationInfo2 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    top: 150px;
    border: black solid 5px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(160, 85, 0);
}

.InformationInfo3 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    top: 300px;
    border: black solid 5px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(160, 85, 0);
}

.InformationInfo4 {
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
    top: 450px;
    border: black solid 5px;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(160, 85, 0);
}

.Mark1 {
    position: absolute;
    border: black solid 5px;
    left: 1100px;
}

.ScarePewdiepie {
    position: absolute;
    border: black solid 5px;
    left: 1100px;
    top: 500px;
}
.Mark2 {
    position: absolute;
    border: black solid 5px;
    left: 1100px;
    top: 880px;
}